* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 162, 178);
}

#child {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 79, 108);
    
    transition-timing-function: ease-in;
    transition-delay: 1s;
    transition-property: 0.5s;
    transition-duration: 1s;
}

#child.hover {
    transform: rotate(140deg);
}